<header>
    <h1>Worker Tracking</h1>
    <div class="row" *ngIf="(user$ | async) as user; else login" >
        <span>{{user.email}}</span>
        <div class="col">
            <i class="fas fa-user"></i>
            <i rotate class="fas fa-sort-down" (click)="openUserOptions()"></i>
            <ul>
                <li><a (click)="logout()" [routerLink]="['']">Log Out</a></li>
            </ul>
        </div>
    </div>
    <ng-template #login>
        <span class="navbar-text">
            <a [routerLink]="['']"><button class="btn btn-primary">Please, login :)</button></a>
        </span>
    </ng-template>
</header>