@import '../../../../styles';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, rgb(17, 21, 64), rgb(24, 21, 64), rgb(30, 21, 64), rgb(37, 22, 64), rgb(43, 22, 64), rgb(50, 22, 64), rgb(56, 22, 63), rgb(63, 22, 63), rgb(69, 22, 63), rgb(76, 23, 63), rgb(82, 23, 63), rgb(89, 23, 63));
    padding: 15px 40px;
    border-bottom: 1px solid $border-color;
    color: white;
    // position: fixed;
    // width: 100%;
    // z-index: 999;

    h1 {
        margin: 0;
    }

    div {
        position: relative;
    }

    i[class*="fa-sort-down"] {
        margin-left: 5px;

        &.rotate {
            position: absolute;
            top: 2px;

            &-animation {
                top: 7px;
            }
        }
    }

    i[class*="fa-user"] {
        font-size: 20px;
    }

    ul {
        display: none;
        position: absolute;
        width: 100px;
        right: 0;
        text-align: center;
        padding-left: 0;
        margin-bottom: 0;
        border: 1px solid $border-color;
        background: #fff;
        padding: 10px;
        top: 0;
        transition: top 1s;
        
        li {
            list-style: none;
        }

        &.open-menu {
            display: block;
            top: 40px;
            right: -5px;
            transition: top 1s;
        }
    }
}