<div class="container mb-3">
  <div class="row">
    <div class="col-11 text-center pt-3">
      <h1>TEAMS</h1>
    </div>
    <div class="col-1">
      <button class="btn btn-success">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> New
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="!this.teamList">
    <h2 class="text-center text-muted"> There is no teams to show :(</h2>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Total Workers</th>
        <th *ngIf="this.admin" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of this.teamList; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{team.name}}</td>
        <td>{{team.totalWorkers}}</td>
        <td *ngIf="this.admin">
          <button class="btn btn-danger" (click)="deleteTeam(team)"><i class="fa fa-trash"
              aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>
<br>

<div class="container">
  <h1>CREAR NUEVO EQUIPO</h1>
  <div class="card.body">
    <div class="card.title">
      <h4>Ingresar un nuevo equipo</h4>
    </div>
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="this.team.name" placeholder="Inserte el nombre del nuevo equipo"
      class="form-control" required>
  </div>
  <button (click)="createTeam()" class="btn btn-primary">
    Registrar
  </button>
</div>