<!--======= START MY-INFO ===================================-->
<div class="card mb-5" *ngIf="this.currentWorker">
  <div class="row" >
    <div class="col-2">
      <img class="card-img" src="{{this.currentWorker?.photoUrl}}" alt="avatar image">
    </div>
    <div class="col-10">
      <div class="card-body">
        
        <div class="row">
          <div class="col-7">
            <h3 class="card-title">{{this.currentWorker?.firstName}} {{this.currentWorker?.lastName}}</h3>
          </div>
          <div class="col-5">
            <h4 class="card-text">{{this.currentWorker?.role}}</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-9">
            <h4 class="card-text">{{concatNames(this.currentWorker?.teams)}}</h4>
          </div>
          <div class="col-2">
            <h4 class="card-text">{{this.currentWorker?.status}}</h4>
          </div>
           <div class="col-1">
            <div class="tooltip-box">
              <i class="far fa-2x fa-clock"></i>
              <app-tooltip [text]="this.currentWorker?.lastModificationTime| date :'short'"></app-tooltip>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!--======= END MY-INFO ===================================-->

<!--======= START FILTERS ===================================-->
<form [formGroup]="filterForm" (submit)="applyFilter() ">
  <div class="form-group">
    <div class="row">
      <div class="col-5">
        <app-search-component (typing)='filter = $event' (typing)='filterResults(filter)'>
        </app-search-component>
      </div>
      <div class="col-3">
        <select class="form-control" formControlName="teams">
          <option [ngValue]="null" disabled>Select a team..</option>
          <option *ngFor="let team of this.teams" [ngValue]="team.teamId">{{team.name}}</option>
        </select>
      </div>
      <div class="col-3">
        <select class="form-control" formControlName="status">
          <option [ngValue]="null" disabled>Select a status to filter..</option>
          <option *ngFor="let status of this.status" [ngValue]="status.statusId">{{status.statusName}}</option>
        </select>
      </div>
      <div class="col-1">
        <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</form>
<!--======= END FILTERS ===================================-->

<!--======= START TABLE ===================================-->
<div class="container">
  <div *ngIf="!this.workerList">
    <h2 class="text-center text-muted"> There is no workers to show :(</h2>
  </div>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <th scope="col">Status</th>
        <th scope="col">Teams</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let worker of this.workerList; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>
          <img *ngIf="worker.photoUrl" src="{{worker.photoUrl}}" alt="Avatar image">
          <span class="avatar" *ngIf="!worker.photoUrl">{{ worker.firstName | initial}}{{worker.lastName |
            initial}}</span>
        </td>
        <td>{{worker.firstName}} {{worker.lastName}}</td>
        <td>{{worker.role}}</td>
        <td><i class="far fa-circle mr-2 current-status"></i>{{worker.status}}</td>
        <td>{{concatNames(worker.teams)}}</td>
        <td class="text-center">
          <div class="tooltip-box">
            <i class="far fa-lg fa-envelope"></i>
            <app-tooltip [text]="worker?.email"></app-tooltip>
          </div>
        </td>
        <td class="text-center">
          <div class="tooltip-box">
            <i class="far fa-lg fa-clock"></i>
            <app-tooltip [text]="worker.lastModificationTime| date :'short'"></app-tooltip>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-load-more (click)="loadMore()" [hasMore]='hasMore'></app-load-more>
<!--======= END TABLE ===================================-->
<br>
<br>
<br>
<!--======= START MODAL CREATE ===================================-->
<h3>INGRESAR UN NUEVO TRABAJADOR</h3>
<form [formGroup]="workerForm" (submit)="createWorker() ">
  <div class="form-group">
    <div class="row mt-3">
      <div class="col-6">
        <label for="firstName">First Name:</label>
        <input class="form-control" formControlName="firstName" placeholder="First Name" type="text">
      </div>
      <div class="col-6">
        <label for="lastName">Last Name: </label>
        <input class="form-control" formControlName="lastName" placeholder="Last Name" type="text">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-8">
        <label for="email">Email:</label>
        <input class="form-control" formControlName="email" placeholder="Email" type="email">
      </div>
      <div class="col-4">
        <label for="birthday">Birthday:</label>
        <input formControlName="birthday" class="form-control" placeholder="Birthday" bsDatepicker
          [bsConfig]="bsConfig">
      </div>
      <!-- TODO: triggers='focus' -->
    </div>

    <div class="row mt-3">
      <div class="col-4">
        <label for="team">Team:</label>
        <ng-multiselect-dropdown [placeholder]="'select the teams'" formControlName="team" [data]="this.teams"
          [settings]="dropdownSettingsTeams">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-4">
        <label for="role">Role:</label>
        <ng-multiselect-dropdown [placeholder]="'select a role'" formControlName="role" [data]="this.roles"
          [settings]="dropdownSettingsRoles">
        </ng-multiselect-dropdown>
      </div>

      <div class="col-4">
        <label for="file">Photo:</label>
        <button type="button" (click)="fileInput.click()" class="btn btn-primary form-control">
          <i class="fa fa-upload align-middle pb-1 mr-3"></i>Select a file</button>
        <input #fileInput hidden formControlName="file" type="file" accept="image/*"
          (change)="photoFile = $event.target.files[0]">
        {{photoFile?.size > 0}}
      </div>

    </div>

    <div class="text-center">
      <!-- TODO: <button class="col-6 btn btn-primary mt-4" [disabled]="!workerForm.valid"> Register worker</button> -->
      <button class="col-6 btn btn-lg btn-primary mt-4"> Register worker</button>
    </div>

  </div>
</form>
<!--======= END MODAL CREATE ===================================-->
<br>
<br>
<br>