@import '../../../../assets/sass/variables';

nav {
    background: #fff;
    min-height: 100vh;
    padding: 50px;
    width: 250px;

    ul {
        padding-left: 0;
    }

    li {
        list-style: none;
        padding: 10px 0;
        cursor: pointer;

        &:hover {
            color: $link-color;
        }

        &:focus {
            outline: none;
        }
    }
}