@import '../../../../assets/sass/variables';

nav {
    background: #fff;
    min-height: 100vh;
    padding: 25px;
    width: 150px;
    opacity:0.5;

    ul {
        padding-left: 0;
    }

    li {
        list-style: none;
        padding: 10px 0;
        cursor: pointer;

        &:hover {
            color: $link-color;
            padding: 10px 10px;  
            overflow: hidden;
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }

        &:focus {
            outline: none;
        }
    }

&:hover {
    opacity:0.9;
}

}