<h1>LISTAR ESTADOS</h1>
<div class="container mt-5 mb-5" *ngIf="!this.statusResponse">
  <h2 class="text-center text-muted"> There is no status to show :(</h2>
</div>
<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Status Name</th>
        <th scope="col">Total Workers</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let status of this.statusResponse; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{status.statusName}}</td>
        <td>{{status.totalWorkers}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteStatus(status.statusId)"><i class="fa fa-trash"
              aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<br>

<h1>CREAR NUEVO ESTADO</h1>
<div class="container">
  <div class="card.body">
    <div class="card.title">
      <h4>Ingresar un nuevo estado</h4>
    </div>
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="this.status.name" placeholder="Inserte el nombre del nuevo estado"
      class="form-control" required>
  </div>
  <button (click)="createStatus()" class="btn btn-primary">
    Registrar
  </button>
</div>