<div class="container mb-3">
  <div class="row">
    <div class="col-11 text-center pt-3">
      <h1>STATUS</h1>
    </div>
    <div class="col-1">
      <button class="btn btn-success">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> New
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="!this.statusList">
    <h2 class="text-center text-muted"> There is no status to show :(</h2>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Current Workers</th>
        <th *ngIf="this.admin" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let status of this.statusList; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{status.statusName}}</td>
        <td>{{status.totalWorkers}}</td>
        <td *ngIf="this.admin">
          <button class="btn btn-danger" (click)="deleteStatus(status)"><i class="fa fa-trash"
              aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<br>

<h1>CREAR NUEVO ESTADO</h1>
<div class="container">
  <div class="card.body">
    <div class="card.title">
      <h4>Ingresar un nuevo estado</h4>
    </div>
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="this.status.name" placeholder="Inserte el nombre del nuevo estado"
      class="form-control" required>
  </div>
  <button (click)="createStatus()" class="btn btn-primary">
    Registrar
  </button>
</div>
