@import 'assets/sass/variables';
@import 'assets/sass/text';
@import 'assets/sass/table';
@import 'assets/sass/utils';

body {
    background: #eee;
    color: $text-color;
    font-size: $text-size;
}