table {
    width: 100%;
    border-radius: 2px;
}

tr {
    vertical-align: middle;
}

thead {
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid #dee2e6;
}

td {
    padding: 10px;
}