.default-box {
    background: #fff;
    border: 1px solid $border-color;
    border-radius: 3px;
}

.rotate {
    cursor: pointer;
    transition: all .3s;

    &-animation {
        cursor: pointer;
        transform: rotate(180deg);
        transition: all .3s;
    }
}

.tooltip-box {
    position: relative;

    &:hover > app-tooltip {
        display: block;
    }
}