$text-color: #3e3d3d;
$link-color: #007bff;
$border-color:  #e5e5e5;
$active-color: #55c555;
$offline-color: #fd3131;
$busy-color: #f7a612;
$away-color: #f9f92c;

$text-size: 16px;

$grid-lg: 992px;
$grid-md: 768px;
$grid-sm: 576px;